.tAB_textarea{
    margin: 1vw 1vw 0 1vw;
    padding: 8px;
    display: block;
    /* change here the width of textarea */
    width: 96%;
    height: 12px;
    overflow: hidden;
    border: 1px solid black;
    resize: none;
    font-size: 12px;
    border-radius: 10px;
  }