body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.App_button{
  background-color: rgb(33, 185, 33);
  height: 30px;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
}